.container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex:1;
  padding-top: 3rem;
}
 
.blog{
    text-align: center; 
    padding:0 22rem   
}
.blog h1{
    padding:2rem;
}
.blog p{
    margin-top:2rem;
    text-align: start;
}