.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex:1;
  padding-top: 4rem;
}

.blogItemh3{
  font-size: 28px;
  text-align: center;
  margin-bottom: 1rem;
}

.blogItemp{
  font-size: 18px;
   width: 45vw;
   margin-bottom : 0.5rem;
   width:40vw;
}
.btn{
  background: black;
  color:white;
  padding:4px 3px;
  font-size:12px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 2rem;
}
