.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex:1;
  padding-top: 4rem;
}

.blogItem {
  margin-bottom: 30px;
}

.blogItemh3{
  font-size: 28px;
  text-align: center;
  margin-bottom: 2rem;
}

.blogItemp{
  font-size: 18px;
   width: 45vw;
}